<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/face_recognition/django_face_recognition/catalog/static/css/c01.css" />
  </head>
  <body>
    <h1>Home Page</h1>
    <script>document.write('<h3>Welcome!</h3>');</script>
    <p>What would you like to do?</p>
    <menu>
      <li><a href="stream.html"><button type="button">Turn on Camera</button></a></li>
    </menu>
    <!--
    <input type="submit" value="turn on camera" />
    <input type="file" accept="image/*;capture=camera">
    <script src="webcam.js"></script>
    -->
  </body>
</html>